table{
background-color:black;
font-size: 40px;
border: 10px solid green;
margin: 10px;
width: 100px;
padding: 10px;
border-collapse: collapse;

}
tr{
    text-align: center;
    margin: 10px;
}
td{
 padding: 10px;
 margin: 10px;  
}

li{
list-style-type:none;
height: 35px;
width: 40px;

}

tr:nth-child(even) td:nth-child(even),tr:nth-child(odd) td:nth-child(odd){

background:blue;



}

tr:nth-child(odd) td:nth-child(even),tr:nth-child(even) td:nth-child(odd){

background: azure;}






    
    
    
    



