p{
    font-size: 32px;
font-family: 'pacifico';
font-weight:bold;
text-transform: capitalize;
text-decoration:none;
line-height: 100px;
letter-spacing: 20px;
word-spacing: 20px;

text-align: justify
/*text-align: justify;*/

text-indent: 100px;
text- shadow: 2px 2px  2pxhttps://www.color-hex.com/color/98e695 ;


}
h1{

text-align: center;
border: 1px solid black;


border-color: ;
border-style: ;
border-width: ;
padding: 10px;



}
p::first-letter{


font-size: 48px;
border:1px solid red
width: 300px;
height: 200px;
overflow:scroll;
padding:20px;
b
margin:50px auto;
text-indent:50px;
text-align: justify;
box-shadow:inset 10px 10px 20px rgb(178,148,148),
           inset -10px -10px 20px rgb(135,160,114);



li{
list-style: outside circle;
list-style-type:square;
list-style-position:outside ;

display: :inline;
padding:20px;
}





a{

display: block;

text-align: center;

}

#update{
display: none;
visibility: hidden;

}











} 

h1{
border:1px solid blue;
border-radius: 10px;
border: top left radius 20px; 
width: 200px;
margin: auto;


}

h1:hover{


box-shadow: inset 10px 10px  20px rgb(178,148,148),
            inset10px 10px 20px rgb(178, 148, 148);
}

}
 







